/*色彩*/
$color-1:rgba(255, 0, 0, 1);
$color-2:rgba(255, 138, 146, 1);
$color-3:rgba(212, 37, 37, 1);
$color-4:#666;
/*動態*/
$transition-1:.3s ease;
$transition-2:.6s cubic-bezier(0.81, 0.26, 0, 0.93);
/*RWD*/
$mobile:"screen and (max-width:767px)";
$pad:" (min-width:768px) and (max-width:991px)";
$mini-pc:" (min-width: 992px) and (max-width: 1199px)";
$pad-pc:"(min-width:768px) and (max-width:1199px)";
/*font-family*/
/*宋體*/
$fm-1:"STSong","LiSong Pro Light","SimSun","NSimSun","sans-serif";
/*三角型*/
.triangle-right{
            content:'';
            border-width:0.5em;
            border-style:solid solid solid solid;
            border-color:transparent transparent transparent #fff;
            display:inline-block;
          };
/*圓形*/
.circle{
      content:'';
      width: 0.2em;
      height: 0.2em;
      border-radius:50%;
      margin:0 0.2em;
      background: $color-1;
}

// *{
// 	font-size: 14px;
//   font-family: "Noto Sans TC","Microsoft JhengHei","Arial",sans-serif;
//   font-weight: normal;
// }
a{  
    text-decoration:none!important;
}

@media #{$mobile}{
/*三層選單設定*/
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{
  content:'';
  border-width:0.4em;
  border-style:solid solid solid solid;
  border-color:transparent transparent transparent #fff;
  display:inline-block;
  float:right;
  margin-top:6px;
  margin-left: 0px;
  width: 0;
  height: 0;
}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-menu >li:hover .sub-menu {visibility: visible;}
.dropdown:hover >.dropdown-menu {display: block;}
}
/*end*/

//動畫ㄉㄨㄞ
@keyframes bomtt{
  from{
    transform:rotate(-30deg);
    transition:$transition-2;
  }
  50%{
    transform:rotate(30deg);    
    transition:.3s $transition-2;
  }
  to{
    transform:rotate(0deg);
    transition:transform $transition-2;
  }
}
