//emily
.page-emily{
    padding:0;
    // BG    
    &::before{
            flex-wrap:wrap;
            height: 80%;
            width: 95%;
            align-items:center;
            justify-content:center;
            background-color: #CAE9FF;
            background-image: 
            -webkit-gradient(linear, 0 0, 100% 100%,
                color-stop(.25, #E7F8FC), 
                color-stop(.25, transparent),
                color-stop(.5, transparent), 
                color-stop(.5, #E7F8FC),
                color-stop(.75, #E7F8FC), 
                color-stop(.75, transparent),to(transparent)
                );
            -webkit-background-size: 30px 30px;
            border-radius:2em;                
            border: 2px dashed #fff;
            position:fixed;
            left:2.5%;
            top:15%;
            z-index: -1;
    }
    .container{
        // section
        //globe
        .row{
            padding-top: 10vh;
            width: 100%;
            height: 80vh;
            position:relative; 
            &:first-child{
                padding-top: 0;
            }
            @media #{$pad-pc} {
                height: auto;
            }
        }
        //section-change
        .section-{
            &1{
                display:flex;
                flex-wrap:wrap;
                align-items:center;
                justify-content:center;
                img{
                    height: 90vh!important;
                    max-height:inherit;
                    width: auto;
                }
            }
            &2{
                display:flex;
                align-items:center;
                justify-content:center;
                .col-sm-8{
                    padding-left:8em;
                    img{
                        width: 100px;
                        padding-top: 4em;
                    }
                    p{
                        line-height:2em;
                    }
                    @media #{$pad-pc} {
                        padding-left: 1em;
                    }
                }
            }
            &3{
                h1.title{
                    text-align:center;
                    font-size: 1.5em;
                    color:$color-1;
                    margin-bottom: 3em;
                }
                >div{
                    // padding-top: 200px;
                    height: 100%;
                    margin-bottom: 15em;
                    margin-top: 0em;
                    img{
                        &:first-child{
                            height: 70vh;
                            max-height: 70vh;
                        }
                        &:nth-child(2){
                            height: 60vh;
                            max-height:60vh;
                            padding:2em 2em;
                        }
                    }
                    &.col-sm-12{
                        h1.title{
                            display:flex;
                            height: 100%;
                            width: 100%;
                            align-items:center;
                            justify-content:center;
                            margin:0;
                            font-size: 2em;
                        }
                    }
                    .col-sm-6{
                        padding:0 1em;
                        img:nth-child(2){
                            position:absolute;
                            top:-7em;
                            left:-12em;
                            @media #{$pad} {
                                left:0;
                                opacity: .7;
                            }
                        }
                        img:nth-child(1){
                            @media #{$pad-pc} {
                                box-shadow:3px 3px 8px -6px #000;
                            }
                        }
                    }
                    h3.title{
                        color:$color-1;
                        margin-bottom: 1em;
                    }
                    p{
                        line-height:2em;
                    }
                    &.col-xs-12:nth-last-of-type(1){
                        // margin-top: 0;
                    }
                    &.col-sm-offset-1:nth-last-of-type(2){
                        // margin-bottom: 0;
                    }
                    @media #{$pad} {
                        margin-left: 0;
                        width: 100%;
                        padding:0 1em;
                    }
                }
            }
            &4{
                padding-top: 0;
                margin-bottom: 6em;
                >.col-xs-12{                    
                    display:inline-flex;
                    flex-wrap:wrap;
                    @media #{$pad-pc} {
                        display:flex;
                        img{
                            width: 100%;
                        }
                    }
                }
                h2{                    
                    display:block;
                    width: 100%;
                    margin:0.1em 0;
                    a{
                        color:$color-1;
                        font-size: 0.7em;                        
                    }
                    &:nth-of-type(1){
                        font-size: 1.2em;
                    }
                }
                .pic-wall{
                    width:calc(100% / 6 - 1em);
                    margin:1em auto;
                    position:relative;                    
                    overflow:hidden;
                    p{
                        display:flex;
                        align-items:center;
                        justify-content:center;
                        width: 100%;
                        height: 100%;
                        position:absolute;
                        top:0;
                        z-index: 2;
                        background: rgba(0,0,0,.3);
                        color:#fff;
                    }
                    @media #{$pad-pc} {
                        width: calc(50% - 1em);
                    }
                }
            }
            &5{
                padding-top: 0;
                display:flex;
                flex-wrap:wrap;
                align-items:center;
                justify-content:center;
                img{
                    width: 100%;
                    height: auto;
                    display:block;
                }
                .col-sm-8{
                    padding-left: 3em;
                    h1{
                        color:$color-1;
                        margin-bottom: 1em;
                    }
                    p{
                        line-height:2em;
                    }
                }
            }           
        }
    }
    @media #{$mobile} {        
        .container{
            padding:0 0.5em;
            .row{
                height: auto;
            }
        }
        .row.section-{            
            &1,&2,&3,&4{
                display:block;
                h1.title.title.title{
                    font-size: 1.5em;
                    line-height:1.5em;
                }
            }
        }
        .section-1.section-1{
            img{
                height: 50vh!important;
                display:block;
                margin:0 auto;
            }            
        }
        .section-2.section-2{
            .col-sm-8{
                padding-left: 0;
                img{
                    float:none!important;
                    padding-top: 0;
                    display:block;
                    margin:0.5em auto;
                }
                h1{
                    width: 100%;
                    font-size: 1.1em;
                    margin-top: 0;
                    color:$color-1;
                    display:block;
                    font-weight: bold;
                }
                p{
                    line-height:1.2em;
                }
            }
        }
        .section-3.section-3{
            >div{
                margin-bottom: 10em;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            .col-sm-10.col-sm-10{
                .pull-left,.pull-right{
                    float:left!important;
                }
                img{
                    width: 50%;
                    height: auto;
                    max-height:inherit;
                    padding:0;
                    display:inline-block;
                    float:left!important;
                }
                h3,p{
                    float:left;
                }
                h3.title{
                    width: 100%;
                    display:block;                    
                }
            }
            .col-sm-6.col-sm-6{
                padding:0;
                margin-top: 5em;
                img{
                    width: 100%;
                    &:nth-child(2){
                        display:none;
                    }
                }
            }
        }
        .section-4{
            .pic-wall.pic-wall{
                width: 100%;
            }
        }
        .section-5.section-5{
            display:block;
            .col-sm-8{
                padding-left: 0;
            }
        }
    }
}

.section-2,
.section-3 .col-sm-12,
.section-3 .col-sm-10:nth-of-type(1),
.section-3 .col-sm-10:nth-of-type(2),
.section-3 .col-sm-10:nth-of-type(3),
.section-3 .col-sm-10:nth-of-type(4),
.section-3 .col-sm-10:nth-of-type(5),
.section-3 .col-sm-10:nth-of-type(6),
.section-3 .col-xs-12:last-child,
.section-4,
.section-5{
    opacity: 0;
    @media #{$pad-pc} {
        opacity: 1;
    }
    @media #{$mobile}{
        opacity: 1;    
    }
}