// 左側選單
.left-menu{
    list-style-type:none;
    padding:0;
    border-radius:10px;
    position:relative;    
    padding-top: 3em;
    padding-bottom: 5em;
    padding-left: 1em;
    padding-right: 1em;
    background-image: 
    radial-gradient(27% 185%, #F9F6F1 0%, #D7D0C5 100%);
    box-shadow: 0px 8px 13px -5px #666;
    .showbutton{
        display:none;
        @media #{$mobile} {
            display:block;
            position: absolute;
            right:-2em;
            width: 2em;
            z-index: 9999;
        }
    }
    .panel{
        box-shadow:none;
        border:none;
        margin:0;
        background: transparent;
        border-radius:0;
    }
    .scroll>li,.scroll>li.panel{
        margin:1em 0;
        padding:0.5em 0em;
        border-radius:0px;
        border-bottom: 1px solid #595757;
        a{
            color:#000;
            font-weight: bold;
            display:block;
            font-weight: normal;
        }
        >ul{
            padding-left: 1.5em;
        }
        ul>li>a{
            margin:0.3em 0;
            font-size: .9em;
        }
        ul>li>ul{
            padding-left: 0.5em;
            li a{
                font-size: 0.9em;
                margin:.2em 0;
            }
        }
    }
    .scroll{        
        // &::before,&::after{
        //     content:'';
        //     background: url('/ezfiles/383/1383/img/2866/left-menu-head_02.png') center center no-repeat;
        //     height: 120px;
        //     width: 2em;
        //     background-size: 100% 100%;
        //     display:block;
        //     position: absolute;
        //     top:-110px;
        //     z-index: 9999999;
        // }
        // &::before{
        //     left:0.3em;
        // }
        // &::after{
        //     right:0.3em;
        // }
    }
    //pad
    @media #{$pad-pc} {
        ul{
            padding-left: 0em;
            list-style-type:none;
        }
    }
    //mobile
    @media #{$mobile} {
        .scroll{
            overflow-y:scroll;
            overflow-x:hidden;
            height: 70vh;
            // transform:translateX(1.5em);
            // margin-left: -1em;
            padding-right: 2em;            
        }
        &{  
            // padding-left: 0;
            padding-right: 0em;
            position:fixed;
            z-index: 9999;
            top:70px;
            width: 85vw;
            transform:translateX(-85vw);
            transition:$transition-2;
        }
        &.active{
            transform:translateX(0px);
            transition:$transition-2;
        }
    }
}