// 內頁
// container
.navbar-brand{
        margin-left: 3em;    
    @media #{$pad-pc}{
        margin-left: 3em;
    }
    @media #{$mobile}{
        margin-left: 0;
    }
}
.mrow{
    width: 1170px;
    display:block;
    margin:2em auto 0;
    @media #{$mini-pc} {
        width: 970px;
    }
    @media #{$pad} {
        width: 750px;
    }
    @media #{$mobile} {
        width: 100%;
        margin-top: 0;
    }
    .col_01.col_01{
        width: 20%;
        @media #{$mobile} {
            width: 85%;
        }
        &+.col_02.col_02{
            width: 80%;
            @media #{$mobile}{
                width: 100%;
            }

        }
    }
}
.page_mobilehome{
    .mrow{
        width: 100%;
        margin:0 auto;
        display:inherit;
    }
    .col_01.col_01{
        width: 100%;        
    }
    .col_02.col_02{
        width: 100%;
    }
}

// 內頁banner
.title-pic{
    height: 300px;
    overflow:hidden;
    position:relative;
    padding:0;
    img{
        position:absolute;
        top:-40%;
        width: 100%;
    }
    //pad
    @media #{$pad-pc} {
        img{
            top:-20%;
        }
    }
    //mobile
    @media #{$mobile}{
        height: auto;
        img{            
            position:static;
            top:0;    
        }
    }
    &::before{
        content:'';
        display:block;
        position:absolute;
        top:0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.1);
        z-index: 2;
    }
}

// 標題文字
.module-{
    &detail{
        .mb{
            padding:0;
        }
        .mpgtitle{
            background: none;
            border:none;            
            h3{
                // color:$color-1;
                // font-size: 1.2em;
                // font-weight: bold;
                // flex-wrap:wrap;
                // width: 100%;
                // letter-spacing: 0.1em;
                // position:relative;
                // margin:0.5em 0;
                // border-bottom: 2px dashed $color-1;
                // padding-bottom: 0.3em;
                // margin:0;
                // padding-bottom: 1em;
                color:$color-3;
                font-size: 2em;
                font-weight: bold;
                flex-wrap:wrap;
                width: 100%;
                letter-spacing: 0.1em;
                position:relative;
                margin:0.5em 0;
                border-bottom: 2px dashed $color-3;
                padding-bottom: 0.3em;
            }
        }
        img{
            margin-bottom: 1em;
        }
        //mobile
        @media #{$mobile} {
            padding:0 1em;
        }
    }    
}

.page-{
    /*整體預設設定*/
    &aboutus,&art,&snc,&news,&contactus,&ncc{
        padding:0;
        @media #{$mobile} {
        padding:1em;            
        }
        .container{
            padding:0;
        }        
        h1.title{
            color:$color-3;
            font-size: 2em;
            font-weight: bold;
            flex-wrap:wrap;
            width: 100%;
            letter-spacing: 0.1em;
            position:relative;
            margin:0.5em 0;
            border-bottom: 2px dashed $color-3;
            padding-bottom: 0.3em;
            span{
                font-size: 0.6em;
                width: 100%;
                text-align:center;
                letter-spacing:0;
                font-weight: lighter;
            }
            @media #{$mobile} {
                font-size: 1.5em;                
            }
        }
        h3{
            font-style:italic;
            font-size: 1.2em;
            font-weight: bold;
            color:#666;
        }
        .row{
            img{
                margin-bottom: 1em;
                border:1px double #ccc;
                padding:4px;
                border-radius:8px;
                height: 300px;
                // max-height: 450px;
                width: auto;
                @media #{$mobile} {
                    margin-bottom: 0em;
                }
            }
            p{
                line-height:1.5em;
                color:#777;
            }
        }
    }
    // aboutus
    &aboutus{
        .row > .col-xs-12.title-pic> img{
            border:none;
            padding:0;
        }
    }
    // 才藝教學
    &art{
        .container{            
            .row{
                display:flex;
                flex-wrap:wrap;
                align-items:center;
                margin:1em 0;
                border-bottom: 1px dashed $color-2;
                &:last-child,&:first-child{
                    border-bottom: none;                    
                }
                @media #{$mobile}{
                    display:block;
                    margin:0;
                }
                .col-sm-5{
                }
                img{
                    max-width:inherit;
                    max-height:inherit;
                    height: auto;
                    width: 100%;
                    border:none;
                    border-radius:0;
                }
                h2.title{
                    font-size: 1.2em;
                    color:$color-1;
                }
            }
        }
        @media #{$mobile} {
            .row.row{
                margin:0em 0 1em;
                padding-bottom: 1em;
            }
        }    
    }
    // snc頁面
    &snc{
        .container{
            .row{
                .title-pic{                    
                    img{
                        border:none;
                        width: 100%;
                        height: auto;
                        position: absolute;
                        top:-100%;
                        @media #{$mobile}{
                            top:0;
                            position:static;
                        }
                    }
                }
                iframe{
                    margin:1em 0;
                    height: 70vh;
                }
            }
            .flex{
                display:flex;
                flex-wrap:wrap;
                align-items:center;
                justify-content: center;
                margin:0 -0.8em;                
                [class^="col-"]{
                    padding:0 0.8em;
                    margin:1em 0;
                    &:first-child{
                        margin:0;
                    }
                    @media #{$mobile} {
                        margin:0;
                    }
                }
                .col-sm-7{
                    @media #{$mobile} {
                        margin-bottom: 3em;
                    }
                }
                h3.title{
                    color:$color-3;
                    font-style: inherit;
                }
                p{
                    font-size: 0.9em;
                }
                img{
                    border:1px double #ccc;
                }
                &:nth-of-type(3),.movie{
                    display:flex;
                    flex:2;
                    align-items:stretch;
                    .col-sm-6{
                        border:1px dashed $color-2;
                        width: calc(50% - 2em);
                        margin:0 auto;  
                        border-radius:10px;                      
                        a{
                            display:flex;
                            margin:1em 0;
                            color:$color-1;      
                            align-items:center;                      
                            &::before{
                                content:'';
                                width: 5px;
                                height: 5px;
                                display:inline-flex;
                                background: $color-1;
                                border-radius:50%;
                                margin-right: 0.5em;
                            }
                        }
                    }
                    @media #{$mobile} {
                        display:block;
                        margin:0;
                        .col-sm-6{
                            width: 100%;                            
                            margin:1em 0;
                        }
                    }
                }
                @media #{$mobile} {
                    margin:0;
                }
            }
            .switch{
                margin:1em 0;
                ul{
                    display:flex;
                    flex-wrap:wrap;
                    padding-left: 0;
                    li{
                        width: 50%;
                        overflow:hidden;
                        a{
                            width: 70%;
                            display:block;
                            margin:0 auto;
                            position:relative;
                            overflow:hidden;
                            img{
                                transition:1s $transition-1;
                                margin-bottom: 0;
                            }
                            span{
                                display:flex;
                                align-items:center;
                                justify-content:center;
                                position:absolute;
                                top:0;
                                z-index: 3;
                                height: 100%;
                                width: 100%;
                                font-size: 2em;
                                background: rgba(0,0,0,.5);
                                color:#fff;
                                transition:$transition-2;
                            }
                            &:hover{
                                span{
                                    background: transparent;
                                    color:transparent;
                                    transition:$transition-2;
                                }
                                img{
                                    transform:scale(1.1);
                                    transition:1s $transition-1;                                    
                                }
                            }
                        }
                    }
                }
                @media #{$mobile} {
                    ul{
                        li{
                            a{
                                width: 100%;
                            }
                            width: 100%;
                        }
                    }
                }
            }
            .cm9,.cm11{
                h3{
                    color:$color-2;
                    font-style: inherit;
                    font-size: 1em;
                    font-weight: normal;
                    line-height:1.5em;
                }
            }
            .merch{
                table{
                    thead tr td{
                        font-weight: normal;
                        font-size: 1em;
                        border:1px solid #ccc;
                        text-align:center;
                        background: rgba(255, 138, 146, .3);
                        padding:0.3em;
                    }                    
                    tbody tr td{
                        border:1px solid #ccc;
                        text-align:center;                                                
                        &:nth-of-type(1){
                            width: 20%;
                        }
                        &:nth-of-type(2){
                            width: 40%;   
                            font-size: 1.1em; 
                        }
                        &:nth-of-type(3),
                        &:nth-of-type(4),
                        &:nth-of-type(5){
                            width: calc(40% / 3);
                        }
                    }
                }
            }
            @media #{$mobile} {
                .cm9{
                    .col-sm-7{
                        iframe{
                            margin-bottom: 0;
                        }
                        &:nth-of-type(1){
                            margin-bottom: 0;
                        }
                    }
                    .col-sm-5{
                        margin-bottom: 0em;
                        &:nth-of-type(2){
                            margin-bottom: 3em;
                        }
                    }
                }
                .table-responsive{
                    table{
                        width: 600px;
                    }
                }
            }
        }
    }
    //news
    &contactus{
        .form-section{
            padding:1em 0 3em;
            img{
                width: inherit;
                height: auto;
                border:none;
            }
            form >div{
                width: 70%;
                display:block;
                margin:0 auto;
                input,textarea{
                    border-radius:0;
                }
                @media #{$pad-pc} {
                    width: 80%;
                    margin-bottom: 1em;
                }
                @media #{$mobile} {
                    width: 100%;
                }
            }
        }
    }
    &ncc{
        .row{
            margin-bottom: 2em;
            &:last-child{
                margin-bottom: 0;
            }
            img{
                border: none;
            }
            &:first-child img{
                max-width: 350px;
            }
            h2.title{
                margin-bottom: .5em;
                line-height: 1.5em;
            }
            p{
                line-height: 2em;
            }
            @media #{$mobile} {
                &{
                    margin-bottom: 1em;
                }
                img{
                    width: 100%;
                }
            }
        }
    }
}
// 標題
.module-cglist .mt h3{
        color:$color-3;
        font-size: 2em;
        font-weight: bold;
        flex-wrap:wrap;
        width: 100%;
        letter-spacing: 0.1em;
        position:relative;
        margin:0.5em 0;
        border-bottom: 2px dashed $color-3;
        padding-bottom: 0.3em;
        margin:0;
        padding:0.3em 0;
        line-height:1em;
}
@media #{$mobile}{
    .module-cglist{        
        padding-left: 1em;
        padding-right: 1em;
    }
}
.module-{
    // 內頁分類列表
    &ptlist,&ptlist{
        h5,a,p,td{
            color:#666;
        }
        td{
            padding:0.2em;
        }
        h5 a{
            font-size: 1.2em;
            font-weight: bold;
            margin-bottom: 1em;
            display:block;
            margin-top: 0.5em;
        }
        @media #{$mobile} {
            .d-img.d-img,.d-txt.d-txt{
                width: 100%;                
                max-width: 100%;
                padding:0;
                p,h5,a{
                    display:block;
                }
            }
        }
    }
    //商品分類
    &ptlist .listBS{
        padding:.5em 0;
        border-bottom: 1px dashed #ddd;
        &:last-child{
            border-bottom: none;
        }
        .mb{
            padding:0;
        }
        .d-item{
            padding:0em .5em;
        }
        .v-ti .mbox{
            padding-bottom: 0;            
            box-shadow: 1px 1px 6px -4px #333;
            border-radius:10px;
            transition:.45s $transition-1;                              
            .d-txt h5 a{
                text-align:center;
                margin:0;
                background:rgba(255, 138, 146, 1);
                color:#fff;
                padding:0.5em;
                border-radius:10px 10px 0 0;  
                transition:1s $transition-1;                              
            }
            .d-img{
                border-radius:0 0 10px 10px;
                @include background(linear-gradient(to top, rgba(0,0,0,0.03), #fff));
                img{                    
                    transition:1s $transition-1;
                    transform:scale(1);
                }
            }
            &:hover{
                box-shadow:3px 3px 10px -8px #333;
                transition:.45s $transition-1;
                .d-txt h5 a{
                    background:rgba(255, 138, 146, 0.5);
                    transition:1s $transition-1;                    
                }
                .d-img{
                    img{
                        transform:scale(0.8);
                        transition:1s $transition-1;                        
                    }
                }
            }
        }
        @media #{$mobile} {
            padding:0;
        }
    }
    // 最新消息列表
    &rcglist{        
        display:flex;
        align-items:center;
        justify-content:center;
        padding:1em 0 3em;
        .mb{
            width: 60%;
        }
        .mbox{
            padding-bottom: 0;
        }
        .listBS{
            padding:0.5em;
            &:nth-child(odd){
                background: #ccc;
            }
        }
        .d-txt h5{
            background: none;
            padding:0;
            margin:0;
            i{
                color:#333;
                margin-right: 2em;
            }
        }
        @media #{$pad-pc} {
            .mb{
                width:90%;
            }
        }
        @media #{$mobile} {
            display:block;
            .mb{
                width: 100%;
                i{
                    display:block;
                }
            }
            .listBS{
                margin-bottom: 1em;
            }
        }
    }
    // 產品明細頁
    &ecptdetail{
        &.module{
            margin-top: 3em;
        }
        .col-sm-5,.col-sm-7{
            max-width: 100%;
            width: 100%;
        }
        .mpro-name{
            background: none;
            border:none;
            h3{
                padding-left: 0;
                color:$color-3;
                border-bottom: 2px dashed $color-3;
            }
        }
        .ad-pro-btns{
            display:none;
        }
        ul.nav{
            display:none;
        }
        .product-detail{
            img{margin-bottom: 1em;}
        }
        .tab-pane.tab-pane{
            padding-left: 0;
            padding-right: 0;
        }
    }
}